{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <header>
    <p class="text-center">{{ room_name }} Chat Room</p>
    </header>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
</head>
<body>
    <textarea id="chat-log" class="form-control" cols="100" rows="20" readonly></textarea><br>
    <!--Typing Notifier-->
    <div class="typingNotifier" style="height:30px"><p id="keyboarding"></p></div>
    <input id="chat-message-input" class="form-control" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    
    {{ room_name|json_script:"room-name" }}
    <script>
        var roomName = JSON.parse(document.getElementById('room-name').textContent);
        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        // When a message is received from the server
        chatSocket.onmessage = function(e) {
            console.log('dfsdf');
            // Decode the JSON
            var data = JSON.parse(e.data);
            console.log(data);
            // If chat consumer joins or leaves the channel, a broadcast message sends
            let msg;
            if (data.action === 'join' || data.action === 'leave') {
                msg = data.username + data.message + '\n';
                document.querySelector('#chat-log').value += msg;
            }
            
            else if (data.action === 'keyboarding' && data.event === 'sentMsg') {
                msg = data.username + ': ' + data.message + '\n';
                document.querySelector('#chat-log').value += msg;
            }
        
            // Typing notification event
            if (data.action) {
                //console.log('outer if notification event')
                var typingElem = document.getElementById('keyboarding');
                if (data.action === 'keyboarding') {
                    typingElem.innerHTML = data.username + ' is typing...';
                    // set css of typingElem invi : false
                    //console.log('inner if notification event')
                }
                else if (data.action === 'stopKeyboarding') {
                    typingElem.innerHTML = ' ';
                    //console.log('inner else if notification event')
                } 
            }
        };
        
        var input = document.querySelector('#chat-message-input');
        var submitBtn = document.querySelector('#chat-message-submit');
        
        input.focus();
        input.onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                submitBtn.click();
            }
        }
        
        // typing timer handling
        var typingTimer;
        var timer;
        input.onkeydown = function(e) {
            if (typingTimer) {
                clearTimeout(typingTimer);
                
                typingTimer = setTimeout(function() {
                    chatSocket.send(JSON.stringify({ // to consumer.py as the content
                        'type': 'stopKeyboarding',
                        //'message': 'stopped typing',
                    }));
                }, 1000)
                
                if (timer) clearTimeout(timer)
                timer = setTimeout(function() {
                    clearTimeout(typingTimer);
                    typingTimer = undefined;
                }, 1200)
                
                return;
            };
            
            chatSocket.send(JSON.stringify( // to consumer.py as the content
            {
                'type': 'keyboarding',
                //'message': 'is typing',
            }));
            
            typingTimer = setTimeout(function() {
                chatSocket.send(JSON.stringify( // to consumer.py as the content
                {
                    'type': 'stopKeyboarding',
                    //'message': 'stopped typing',
                }));
            }, 3000)
            
        };

        submitBtn.onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({ // to consumer.py
                'command': 'send',
                'message': message,
            }));
            messageInputDom.value = '';
        };
        
        // Debugging info for web console
        chatSocket.onopen = function(e) {
            console.log('Connected to chat socket');
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>
